@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(255, 244, 244);
}

.active{
	background-color:rgb(255, 244, 244);
	/* background-color:red; */
	color: black;
}